<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>해달 MBTI</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">
    <script src="../static/animejs/lib/anime.min.js"></script>
    <meta property="og:title"              content="해달 MBTI" />
    <meta property="og:description"        content="해달 개발자용 MBTI 검사입니다. 재미로 즐겨 주세요 :)" />
    <meta property="og:image"              content="../static/opengraph.png" />
</head>
<body>
<p>　</p>
<div class = "title">
        <div class = "character">
        <img src = "../static/haedalcharac.png" class="mainlogo">
        </div>
        <div class="hdti1">H D T I</div>
        <div class="hdti2">Hae<br>Dal<br>Type<br>Indicator</div>
</div>
<p>　</p><p>　</p><p>　</p>
<div class = "explaination">
    <p>이 설문지는 해달 신입부원 모집 때 사용할 홍보용!<br>개발자용 MBTI 검사입니다. 재미로 즐겨 주세요 :)</p>
</div>

<form method="POST" action="/result">
<div class = "main_content">
    <div class="question_box">
        <div class="question_title">
            <div class="titles"><p>매우 그렇다</p></div>
            <div class="titles"><p>조금 그렇다</p></div>
            <div class="titles"><p>보통이다</p></div>
            <div class="titles"><p>조금 아니다</p></div>
            <div class="titles"><p>매우 아니다</p></div>
        </div>
            <div class="question_items">
                {% for question in questions %}
                <div class="question">
                    <p>{{ loop.index }}. {{ question }}</p>
                </div>
                <div class="checkboxes">
                    <div class="checkbox">
                        <input type="radio" id='"q"+ {{ loop.index }} + "5"' name='q{{ loop.index0 }}' value=5>
                        <label for='"q"+ {{ loop.index }} + "5"'></label>
                    </div>
                    <div class="checkbox">
                        <input type="radio" id='"q"+ {{ loop.index }} + "4"' name='q{{ loop.index0 }}' value=4>
                        <label for='"q"+ {{ loop.index }} + "4"'></label>
                    </div>
                    <div class="checkbox">
                        <input type="radio" id='"q"+ {{ loop.index }} + "3"' name='q{{ loop.index0 }}' value=3>
                        <label for='"q"+ {{ loop.index }} + "3"'></label>
                    </div>
                    <div class="checkbox">
                        <input type="radio" id='"q"+ {{ loop.index }} + "2"' name='q{{ loop.index0 }}' value=2>
                        <label for='"q"+ {{ loop.index }} + "2"'></label>
                    </div>
                    <div class="checkbox">
                        <input type="radio" id='"q"+ {{ loop.index }} + "1"' name='q{{ loop.index0 }}' value=1>
                        <label for='"q"+ {{ loop.index }} + "1"'></label>
                    </div>
                </div>
                {% endfor %}
                {% for track in tracks %}
                <div class="question">
                    <p>{{ loop.index }}. {{ track }}</p>
                </div>
                <div class="checkboxes">
                    <div class="checkbox">
                        <input type="radio" id='"t"+ {{ loop.index }} + "5"' name='t{{ loop.index0 }}' value=5>
                        <label for='"t"+ {{ loop.index }} + "5"'></label>
                    </div>
                    <div class="checkbox">
                        <input type="radio" id='"t"+ {{ loop.index }} + "4"' name='t{{ loop.index0 }}' value=4>
                        <label for='"t"+ {{ loop.index }} + "4"'></label>
                    </div>
                    <div class="checkbox">
                        <input type="radio" id='"t"+ {{ loop.index }} + "3"' name='t{{ loop.index0 }}' value=3>
                        <label for='"t"+ {{ loop.index }} + "3"'></label>
                    </div>
                    <div class="checkbox">
                        <input type="radio" id='"t"+ {{ loop.index }} + "2"' name='t{{ loop.index0 }}' value=2>
                        <label for='"t"+ {{ loop.index }} + "2"'></label>
                    </div>
                    <div class="checkbox">
                        <input type="radio" id='"t"+ {{ loop.index }} + "1"' name='t{{ loop.index0 }}' value=1>
                        <label for='"t"+ {{ loop.index }} + "1"'></label>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
    <br>　<br>
    <div class="sub_mit">
    <input type="submit" value="제출!">
    </div>
</div>

</form>
</body>
</html>