<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/base.css">
    <title>ddd</title>
</head>
<body>
<div class="titlebox">
    <div class="title">
        <p class="p1">당신의 해달 타입은</p>
        <p class="p2">" 인내심 있는 개발자 "</p>
    </div>
</div>
<div class="contentbox">
    <div class="content">
        <div class="content-left">
            <img src="../static/pictures/haedal.jpg" class="img">
        </div>
        <div class="content-right">
            <div class="type">
                INFP-A
            </div>
            <div class="explanation">
                위에 별이 피어나듯이 다 이름을 거외다. 애기 나의 멀리 봅니다. 당신은 하늘에는 밤을 쉬이 라이너 별을 가을로 까닭입니다. 가득 써 이름과, 별에도 나의 나의 별 흙으로 까닭입니다. 파란 걱정도 위에 어머니 하나에 동경과 이런 별 봅니다.
            </div>
        </div>
    </div>
    <div class="track">
        추천 트랙: 트랙1, 트랙2
    </div>
    <div class="bottom">
        <span>retry</span>
        <span>Another type</span>
    </div>
</div>
</body>
</html>