<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Another types</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">
</head>
<body>
<p> </p>
<div class = "title">
        <div class = "character">
        <img src = "../static/haedalcharac.png" class="mainlogo">
        </div>
        <div class="hdti1">H D T I</div>
        <div class="hdti2">Hae<br>Dal<br>Type<br>Indicator</div>
</div>
<p>　</p><p>　</p><p>　</p>
<div class="out-out">
    <div class="row">
        <div class="indiv">
            <div class="indiv_title">AREI</div><div class="indiv_ex">괴짜 프로그래머</div>
        </div>
        <div class="indiv">
            <div class="indiv_title">AREP</div><div class="indiv_ex">소심한<br>아이디어뱅크</div>
        </div>
        <div class="indiv">
            <div class="indiv_title">ARCI</div><div class="indiv_ex">에디슨형</div>
        </div>
        <div class="indiv">
            <div class="indiv_title">ARCP</div><div class="indiv_ex">극한의 효율형</div>
        </div>
    </div>
    <div class="row">
        <div class="indiv">
            <div class="indiv_title">AFEI</div><div class="indiv_ex">코딩계 마당발</div>
        </div>
        <div class="indiv">
            <div class="indiv_title">AFEP</div><div class="indiv_ex">지옥에서 온<br>개발자</div>
        </div>
        <div class="indiv">
            <div class="indiv_title">AFCI</div><div class="indiv_ex">내일은 코딩왕</div>
        </div>
        <div class="indiv">
            <div class="indiv_title">AFCP</div><div class="indiv_ex">꾸준한 거북이</div>
        </div>
    </div>
    <div class="row">
        <div class="indiv">
            <div class="indiv_title">TREI</div><div class="indiv_ex">환상의 효율장인</div>
        </div>
        <div class="indiv">
            <div class="indiv_title">TREP</div><div class="indiv_ex">유니콘형</div>
        </div>
        <div class="indiv">
            <div class="indiv_title">TRCI</div><div class="indiv_ex">코딩계 스파크</div>
        </div>
        <div class="indiv">
            <div class="indiv_title">TRCP</div><div class="indiv_ex">기가지니</div>
        </div>
    </div>
    <div class="row">
        <div class="indiv">
            <div class="indiv_title">TFEI</div><div class="indiv_ex">인스타스타</div>
        </div>
        <div class="indiv">
            <div class="indiv_title">TFEP</div><div class="indiv_ex">조별과제의 왕</div>
        </div>
        <div class="indiv">
            <div class="indiv_title">TFCI</div><div class="indiv_ex">아이디어 뱅크</div>
        </div>
        <div class="indiv">
            <div class="indiv_title">TFCP</div><div class="indiv_ex">회장의 재목</div>
        </div>
    </div>
</div>
<p> </p>
<div class = "info">
    <p>Github 주소: <a href="https://github.com/haedal-with-knu">해달 깃헙</a></p>
    <p>카카오톡 오픈채팅방: <a href="https://open.kakao.com/o/sF50Amtc">해달 오픈채팅방</a></p>
    <p>문의: 해달 부회장 이준병(010-2509-0636)</p>
    <p><a href="../">Try Again</a></p>
</div>
</body>
</html>