<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Another types</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">
</head>
<body>
<p> </p>
<div class = "title">
        <div class = "character">
        <img src = "../static/haedalcharac.png" class="mainlogo">
        </div>
        <div class="hdti1">H D T I</div>
        <div class="hdti2">Hae<br>Dal<br>Type<br>Indicator</div>
</div>
<p>　</p><p>　</p><p>　</p>
<div class="out-out">
    <div class="row">
        <div class="indiv">
            1
        </div>
        <div class="indiv">
            2
        </div>
        <div class="indiv">
            3
        </div>
        <div class="indiv">
            4
        </div>
    </div>
    <div class="row">
        <div class="indiv">
            5
        </div>
        <div class="indiv">
            6
        </div>
        <div class="indiv">
            7
        </div>
        <div class="indiv">
            8
        </div>
    </div>
    <div class="row">
        <div class="indiv">
            9
        </div>
        <div class="indiv">
            10
        </div>
        <div class="indiv">
            11
        </div>
        <div class="indiv">
            12
        </div>
    </div>
    <div class="row">
        <div class="indiv">
            13
        </div>
        <div class="indiv">
            14
        </div>
        <div class="indiv">
            15
        </div>
        <div class="indiv">
            16
        </div>
    </div>
</div>
<p> </p>
<div class = "info">
    <p>Github 주소: ~~~</p>
    <p>카카오톡 오픈채팅방: ~~~</p>
    <p>문의: ~~~</p>
    <p><a href="../">Try Again</a></p>
</div>
</body>
</html>